<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- User Name : logprocessor Password : logprocesor@1 -->
    <!--  local config - for testing  -->
    <add key="DBServerName" value="CS-DEVELOPER-01" />
    <add key="DatabaseName" value="EMConfig" />
    <!-- PlaylistManagement" /> -->
    <add key="DBUserName" value="cmsuser" />
    <add key="DBUserPassword" value="cmsuser" />
    <add key="Frequency" value="300" />
    <add key="awsAccessKey" value="AKIA53UFNMZ6TWZY6PG2" />
    <add key="awsSecretAccesskey" value="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" />
    <add key="awsBucket" value="ccmsdev" />
    <add key="_thumbnail_suffix" value="_thumbs" />
         
    <!-- real config 

    <add key="DBServerName" value="bsneelogs"/>
    <add key="DatabaseName" value="LogFilesCatalog"/>
    <add key="DBUserName" value="bsneelogs"/>
    <add key="DBUserPassword" value="g9t9ZJOTsupoMDdP4S9W"/>
	<add key="Frequency" value="300"/>
-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>